h1, h3, h3{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.price{
    color: #ff136f;
}

.carousel-item {
    transition: transform 1s ease;
}

.panda-bg-primary{
    background-color: #fceae8;
}

.categories img{
    width: 100px;
}

.bg-cat-1{
    background-color: #ffa500;
}
.bg-cat-2{
    background-color: #da70d6;
}
.bg-cat-3{
    background-color: #0000ff;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

